body {
background: radial-gradient(#DAD3BE 20%, #B7B597);
height: 100vh;
width: 100%;
margin: 0;
padding: 0;
}

.heading-text{
  text-align: center;
  font-size: 50px;
  color: #DAD3BE;
  font-family: "oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin-top: 0;
}

img{
  border-radius: 50%;
  height: 200px;
  width: 150px;
  border: 10px solid #254336;
  position: absolute;
  top: 0px;
  right: 0px;
  margin-top: 0;
}

header{
  position: relative;
  top: 0;
  width: 100%;
  height: 5rem;
  background-color: #254336;
  margin: 0;
  padding: 0;
  


}

.hero-section{
 margin: auto;
 padding: auto;
  
}

.hero-text{
  font-family: "oswald", sans-serif;
  text-align: center;
  width: 93%;
  position: relative;
  color: #254336;
  font-size: 30px;
  padding-top: 20px;
  padding-bottom: 40px;
  margin-bottom: 200px;
  

}


.info{
  display: flex;
  position: relative;
  justify-content: center;
  
}

.map{
  position: relative;
  width: 500px;
  height: 350px;
  border: 5px solid #254336;
  margin: auto;
  
  

}

.map-text{
  font-family: "oswald", sans-serif;
  color: #254336;
  font-size: 20px;
  position: relative;
  top: 0px;
  left: 0px;
  margin-left: 40%;
  margin-right: 0px;
  
}

footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background: #254336;
  
}

footer p {
  margin: 0;
  color: #DAD3BE;
  font-size: 30px;
  font-family: "oswald", sans-serif;
  font-weight: 200;
}
